nav {
    box-shadow: 2px 0 40px 0 rgb(0 0 0 / 14%);
}
nav a {
    font-size: 20px !important;
    text-align: center;
}
.signin-btn {
    color: #f2203d !important;
}
.signup-btn {
    display: block;
    width: fit-content;
    padding: 5px 20px !important;
    border-radius: 8px !important ;
    -webkit-border-radius: 8px !important ;
    -moz-border-radius: 8px !important ;
    -ms-border-radius: 8px !important ;
    -o-border-radius: 8px !important ;
}
