.main-color {
    color: #5614cf !important;
}
.main-color.disabled {
    color: gray !important;
}
.main-bg {
    background-color: #5614cf !important;
    color: white !important;
}
.sec-btn {
    color: white !important;
    background: linear-gradient(113deg, #f21d3c 28%, #f48b45 138%),
        linear-gradient(180deg, #020303, #020303);
}
main {
    min-height: 100vh;
}
.card img {
    width: 50%;
    height: 150px;
    display: block;
    margin: 0 auto 20px;
}
footer img {
    width: 90px;
}
